body {
  margin:0px;
  padding:0px;
  background-color:#ffffff;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.logo {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-decoration:none;
  margin-left: 40px;

}
.header { 
  margin: 0px;
  padding: 0px;
  height: 70px;
  color: rgb(247, 245, 245);
  background-color: #00774b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.home, .comparer, .searcher{
  font-size: 16px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
}
.home {
  margin-left: auto;
}

.searcher:hover,.comparer:hover,.home:hover{
  background-color: #009c63;
  color: #ffffff;
}
.signlog {
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.divider {
  border: 0;
  height:2px;
  background: #00c77e;
  margin: 0;
} 
.searchbar {
  background-color: #ffffff;
  border: 2px solid #ececec;
  border-radius: 20px;
  margin-left: 150px;
  width: 1000px;
  text-decoration: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 50px;
  

}
.searchbar:focus {
  outline: none;
}
.searchbar::placeholder {
  color: #747474;
  font-weight: 500;
  font-size: 18px;
  padding-left: 10px;
}


