<html>
    <head>
        <link rel="stylesheet" href = "style.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <a href = "test.html"class = "logo">UniPicker</a>
            <input class = "searchbar" type="text" placeholder="Search for Universities...">
            <a class = "home">Home</a>
            <a class="comparer">Comparer</a>
            <a class = "searcher">University Searcher</a>
        </div>
        
    </body>
</html>